@font-face {
    font-family: 'silverage';
    src: url('/fonts/silverage/silveragelcbb-webfont.eot');
    src: url('/fonts/silverage/silveragelcbb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/silverage/silveragelcbb-webfont.woff') format('woff'),
         url('/fonts/silverage/silveragelcbb-webfont.ttf') format('truetype'),
         url('/fonts/silverage/silveragelcbb-webfont.svg#SilverAgeLCBBRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anime_ace';
    src: url('/fonts/anime_ace_2_reg/animeace2_reg-webfont.woff2') format('woff2'),
         url('/fonts/anime_ace_2_reg/animeace2_reg-webfont.woff') format('woff'),
         url('/fonts/anime_ace_2_reg/animeace2_reg-webfont.ttf') format('truetype'),
         url('/fonts/anime_ace_2_reg/animeace2_reg-webfont.svg#anime_ace_2.0_bbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'anime_ace_italic';
    src: url('/fonts/anime_ace_2_itl/animeace2_ital-webfont.woff2') format('woff2'),
         url('/fonts/anime_ace_2_itl/animeace2_ital-webfont.woff') format('woff'),
         url('/fonts/anime_ace_2_itl/animeace2_ital-webfont.ttf') format('truetype'),
         url('/fonts/anime_ace_2_itl/animeace2_ital-webfont.svg#anime_ace_2.0_bbitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'anime_ace_bold_italic';
    src: url('/fonts/anime_ace_2_bld/animeace2_bld-webfont.woff2') format('woff2'),
         url('/fonts/anime_ace_2_bld/animeace2_bld-webfont.woff') format('woff'),
         url('/fonts/anime_ace_2_bld/animeace2_bld-webfont.ttf') format('truetype'),
         url('/fonts/anime_ace_2_bld/animeace2_bld-webfont.svg#anime_ace_2.0_bbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

:root {
    
/* Colors */
--clr-blueline: #31b1dc;
--clr-blueline-light: #90cadd;
--clr-bristol: #fdfcf8;

/* Font Families */
--ff-display: "anime_ace", sans-serif;
--ff-body: "silverage", serif;
}