body {
    background: var(--clr-bristol) url("/images/bg_dots.jpg") repeat;
    color: var(--clr-blueline);
    font-family: var(--ff-body);
    font-display: swap;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    min-height: 100dvh;
}
/* Typography
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-display);
    font-weight: 900;
    letter-spacing: min(0.05em, 0.1vw);
    text-wrap: balance;
}
h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-bottom: clamp(2rem, 2vw, 2.25rem); 
}
h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}
p {
    margin-bottom: clamp(1rem, 2vw, 1.5rem);
    line-height: clamp(1.4, 2vw, 1.75);
    text-wrap: pretty;
}

/* Links
-------------------------------------------------------------- */
a {
    color: var(--clr-blueline-light);
    display: inline-block;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
a::after {
    content: "";
    position: absolute;
    left: -2%;
    right: -2%;
    bottom: 0.05em;
    height: 0.15em;
    background: currentColor;
    opacity: 0.9;
    transform: rotate(-1deg);
    transition: 600ms ease-in-out;
    border-radius: 100px;
    }
a:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 3px;
}
a:hover::after {
    opacity: 0;
}
a:has(img)::after {
    content: none;
}
/* Image
-------------------------------------------------------------- */
img {
    max-width: 100%;
}

/* Figure
-------------------------------------------------------------- */
figure {
    font-size: clamp(0.75rem, 1vw, 0.85rem);
    padding: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
}
figure img {
    display: block;
    width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
}

/* Main Content
-------------------------------------------------------------- */
main figure {
    position: relative;
    display: inline-block;
}
main figure::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--clr-blueline);
    mix-blend-mode: color;
    opacity: 0.75;
    pointer-events: none;
}

main figure::before,
main figure::after {
    transition: opacity 600ms ease-in-out;
}

main figure:hover::before,
main figure:hover::after {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    background: var(--clr-bristol);
}
::-webkit-scrollbar-thumb {    
    background-color: var(--clr-blueline);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-blueline-light);
}