/* Cards
-------------------------------------------------------------- */
.card {
    display: block;
    justify-content: space-around;
}

/* Page
-------------------------------------------------------------- */
.page {
    position: relative;
    margin: clamp(1rem, 2vw, 3rem) auto;
    width: min(90dvw, 100ch);
    min-height: 100dvh;
    padding: clamp(2.25rem, 3vw, 4rem);

    --reg-size: 24px;   /* total cross size */
    --reg-gap-h: -10px;    /* inset from horizontal edges */
    --reg-gap-v: 0;    /* inset from vertical edges */
    --reg-stroke: 2px;
    --reg-circle: 12px; /* set 0 to disable */
}

.page::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 99%;
    height: 99.8%;
    border-left: 2px dashed var(--clr-blueline);
    border-right: 2px dashed var(--clr-blueline);
}
.page::after {
    content: "";
    position: absolute;
    inset: var(--reg-gap-v) var(--reg-gap-h);
    margin: auto;
    width: 99%;
    height: 99.90%;
    border-top: 2px dashed var(--clr-blueline);
    border-bottom: 2px dashed var(--clr-blueline);
}

@media (min-width: 64rem) {
    .page::before {
        width: 99.99%;
    }
    .page::after {
        height: 99.80%;
    }
}

/* Header
-------------------------------------------------------------- */
.header > :where(h1, h2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
}
.header__logo {
    display: block;
    height: auto;
    margin-top: -2rem;
    margin-inline: auto;
    mix-blend-mode: multiply;
    width: 90%;
} 
@media (min-width: 64rem) {
    .header__logo {
        max-width: 75%;
    }
}

/* Registration Marks
-------------------------------------------------------------- */
.reg {
    background-color: var(--clr-bristol);
    position: absolute;
    width: var(--reg-size);
    height: var(--reg-size);
    opacity: 0.8;
    pointer-events:none;
    z-index: 100;
}
.reg::before,
.reg::after {
  content:"";
  position: absolute;
  inset:0;
  margin: auto;
  background: var(--clr-blueline);
}

.reg::before {
  width: var(--reg-stroke);
  height: 100%;
}
.reg::after {
  height: var(--reg-stroke);
  width: 100%;
}

.reg > .ring {
  position: absolute;
  inset: 0;
  margin: auto;
  width: var(--reg-circle);
  height: var(--reg-circle);
  border: var(--reg-stroke) solid var(--clr-blueline);
  border-radius: 999px;
}

/* positions */
.reg--tl { top: var(--reg-gap-v); left: var(--reg-gap-h); }
.reg--tr { top: var(--reg-gap-v); right: var(--reg-gap-h); }
.reg--bl { bottom: var(--reg-gap-v); left: var(--reg-gap-h); }
.reg--br{ bottom: var(--reg-gap-v); right: var(--reg-gap-h); }

/* Gallery
-------------------------------------------------------------- */
.gallery {
    max-width: 90rem;
    margin-inline: auto;
}

.gallery-images { 
    width: fit-content; 
    margin-inline: auto; 
}

@supports (display: grid-lanes) {
    .gallery-images {
        display: grid-lanes;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}
@supports not (display: grid-lanes) {
    .gallery-images {
        columns: 400px; /* This line simulates the masonry layout */
        column-gap: 10px;
    }
}
.gallery-images figure {
    break-inside: avoid;
    margin: 0 0 10px 0;
    padding: 0;
}

.handdrawn,
.gallery-images figure {
    --sketch: var(--clr-blueline);
    border: 10px solid transparent;
    /* Inline SVG as border-image */
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpath d='M10 18 C 30 6, 56 10, 110 14 C 114 38, 112 62, 108 106 C 84 112, 54 114, 12 108 C 6 88, 8 58, 10 18 Z' fill='none' stroke='%2390cadd' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 25 round;
    border-radius: 16px;
    position: relative;
    display: inline-block;
}
.handdrawn figcaption,
.gallery-images figure figcaption {
    background: var(--clr-blueline-light);
    border: 2px solid var(--clr-blueline);
    box-shadow: 5px 5px 0 var(--clr-bristol);
    color: var(--clr-bristol);
    font-family: var(--ff-display);
    left: -10px;
    max-width: 75%;
    padding: 0.5em;
    pointer-events: none;
    position: absolute;
    top: -10px;
    width: fit-content;
    z-index: 11;
}
.gallery-images figure a {
    display: inline-block;
    position: relative;
    z-index: 1;
}
.gallery-images figure a img {
    filter:
    grayscale(1)
    sepia(1)
    hue-rotate(170deg)
    saturate(1.4)
    contrast(1.15);
    margin: 0;
    mix-blend-mode: multiply;
    transition: filter 600ms ease-in-out; /* add this */
}
.gallery-images figure a:hover img {
    filter: none;
}
/* Outro
-------------------------------------------------------------- */
.outro {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, 2vw, 2rem);
    margin: 0;
    margin-inline: auto;
    position: relative;
    z-index: 10;
}

@media (min-width: 64rem) {
    .outro {
        flex-wrap: nowrap;
    }
}

.outro aside {
    margin-left: auto;

        h3 {
            text-align: center;
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin-top: clamp(1rem, 2vw, 2rem);
        }

        a {
            display: block;
            margin-bottom: clamp(0.5rem, 1vw, 1rem);
            width: fit-content;
        }
}