body {
    background: var(--clr-bristol);
    color: var(--clr-blueline);
    font-family: var(--ff-silverage);
    font-size: clamp(1rem, 2vw, 1.25rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-wieringo);  
    letter-spacing: min(0.05em, 0.1vw);  
    margin: 0;
}

h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
}