---
const { siteName, author, url, logo, description } = Astro.props;
---

<header id="site">
    <h1>{siteName}</h1>
    <h2>{description}</h2>
    <img src={logo} alt={siteName} class="logo" />
    <div class="ribbon">
        <p>Celebrating the Joys of Comics since 1991</p>
        <span>1991</span><span
            ><script type="text/javascript" is:inline>
                document.write(new Date().getFullYear());
            </script></span
        >
        <img src="/images/ribbon.png" alt="" />
    </div>
</header>

<style lang="scss">
    @use "../styles/variables" as vars;

    header#site {
        align-content: start;
        background: url(/images/moon.png) no-repeat 50% top;
        display: grid;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 3rem;
        min-height: 250px;
        padding: 0;
        position: relative;

        & > h1,
        & > h2 {
            display: block;
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        & > img.logo {
            display: block;
            height: auto;
            margin-top: 0;
            margin-inline: auto;
            position: relative;
            width: 400px;
            z-index: 1;
        }
        .ribbon {
            position: relative;
            padding: 0;
            margin: 0 0 0 25px;
            margin-top: -45px;
            z-index: 2;

            > img {
                display: block;
                margin: 0 auto;
            }
            > p {
                align-items: center;
                bottom: 5px;
                display: flex;
                font-family: vars.$ff-display;
                font-size: 14px;
                justify-content: center;
                left: 45px;
                margin: 0;
                padding: 0;
                padding-inline: 40px;
                position: absolute;
                right: 45px;
                text-align: center;
                top: 0;
            }
            > span {
                position: absolute;
                top: 25px;
                font-family: vars.$ff-display;
                font-size: 14px;
                font-weight: bold;
            }
            > span:nth-child(even) {
                left: -5px;
            }
            > span:nth-child(odd) {
                left: auto;
                right: -15px;
            }
        }
    }
</style>
